<%= form_for [@borrower,@target] do |f| %>
  <% if @target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% @target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :yield %><br>
    <%= f.text_field :yield %>
  </div>
  <% unless @borrower%>
  <div class="field">
    <%= f.label :borrower_id %><br>
    <%= f.collection_select( :borrower_id, Borrower.all, :id, :title) %>
  </div>
  <% end %>
  <% unless @deal%>  
  <div class="field">
    <%= f.label :deal_id %><br>
    <%= f.collection_select( :deal_id, Deal.active, :id, :title) %>
  </div>
  <% end %>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
