<h2>Trade Report  <%= " for trades settling on #{params['settlement_date']}" if params["settlement_date"]%></h2>

<a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false"  class="button dropdown small">Select Settlement Date</a>
<ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
  <li><a href="#">All Data</a></li>
<%= render(
  partial: "shared/list_link", collection: @settlement_dates,
  :locals => {:controller => 'targets', :action => "allocation", :cat =>"settlement_date"}) %>   
</ul>

<%= render(
  partial: "shared/object_list",
  :locals => {:objects => @trades, :parent=>@target}) %> 


<h2>Allocation Report<%= " for settlement on #{params['settlement_date']}" if params["settlement_date"]%></h2>
<dl>
  <dt>NET BUY & SELLS  SEE <%=link_to "Trade Report", '' %> for details</dt>
  <dd><h3>7,000</h3></dd>
  <dt>Current Outstanding Balances as of <%=Time.now.strftime("%m-%d-%Y")%></dt>
  <dd><h3> 89,605</h3></dd>  
</dl>
<table>
  <thead>
    <tr>
      <th>Preliminary Targeted Exposure</th>  
      <th>Lender</th>  
      <th>Account #</th>  
      <th>Account Executive</th>  
      <th>Current Allocation</th>  
      <th>Current<br />Exposure</th>  
      <th>New Allocation</th>  
      <th>New Exposure</th>  
      <th>Total Position</th>  
      <th>% Hodlings</th>  
      <th>Remainig Capacity</th>  
    </tr>
  </thead>
  <tfoot>
    <td><%=humanized_money_with_symbol @target.agreements.map(&:amount).sum%></td>
    <td colspan="3">TOTALS</td>
    <td><%=humanized_money_with_symbol @target.agreements.map(&:fulfilled).sum%></td>
    <td><%=number_to_percentage @target.agreements.map{|a| a.exposure}.sum/@target.agreements.map{|a| a.exposure}.count, precision: 2%></td>
    <td></td>
    <td></td>
    <td>[col total]</td>
    <td></td>
    <td><%=humanized_money_with_symbol @target.agreements.map(&:capacity).sum%></td>
  </tfoot>
  <tbody>
    <% @agreements.each do |agreement|%>
    <tr>
      <td><%=humanized_money_with_symbol agreement.amount%></td>
      <td><%= agreement.lender.title%></td>
      <td><%= agreement.lender.account%></td>
      <td></td>
      <td><%=humanized_money_with_symbol agreement.fulfilled%></td>
      <td><%= number_to_percentage(agreement.exposure, precision: 2)%></td>
      <td><input type="text"  size="10"></td>
      <td></td>
      <td></td>
      <td><%=number_to_percentage((agreement.amount/@target.agreements.map(&:amount).sum)*100, precision: 2) %></td>
      <td><%=humanized_money_with_symbol agreement.capacity%></td>
    </tr>
    <% end%>
  </tbody>
</table>


<a href"generate_emails" class="button">Generate Client Emails & Memos</a>
