<h1>Listing Targets<%= " for #{@borrower.title}" if @borrower%><%= " for #{@deal.title}" if @deal%></h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Yield</th>
      <% unless @borrower%>
      <th>Borrower</th>
      <% end %>
      <% unless @deal%>
      <th>Deal</th>
      <% end %>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td><%= target.amount %></td>
        <td><%= target.yield %></td>
        <% unless @borrower%>
        <td><%= target.borrower.title %></td>
        <% end %>
        <% unless @deal%>        
        <td><%= target.deal.title %></td>
        <% end %>              
        <td><%= link_to 'Show', target %></td>
        <td><%= link_to 'Edit', edit_target_path(target) %></td>
        <td><%= link_to 'Destroy', target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @borrower %>
  <%= link_to 'New Target', new_borrower_target_path(@borrower) %>
<% eslif @deal%>
  <%= link_to 'New Target', new_borrower_target_path(@deal) %>
<% end %>
