<h1>Listing Targets<%= " for #{@borrower.title}" if @borrower%><%= " for #{@deal.title}" if @deal%></h1>

<%= render(
  partial: "shared/object_list",
  :locals => {:objects => @targets, :parent=>@deal}) %> 

<br>
<% if @borrower %>
  <%= link_to 'New Target', new_borrower_target_path(@borrower) %>
<% elsif @deal%>
  <%= link_to 'New Target', new_deal_target_path(@deal) %>
<% end %>
