<% unless cell.to_s.capitalize == parent.class.name%> 
  <td> 
    <% if cell_counter == 0 %>
      <%= link_to object.send(cell) , polymorphic_url(object) %>
    <% elsif cell.to_s == object.class::CHILD_COL %>
      <ul>
        <li>
          <%= link_to "N", new_polymorphic_url([object,cell]) %>
        </li>
        <%= render(partial: "shared/link_object",:collection => object.send(cell),:locals => {:label => 'title'}) %>
      </ul> 
    <% elsif object.class::PARENT.include? cell.to_s %>
      <%= object.send(cell).title -%>
    <% else %>
    <%= object.send(cell) -%>
    <% end %> 
  </td>
<% end %>
