<% unless objects.empty?%>
<table>
  <thead>
    <tr>
    <% unless objects.blank?  %>      
      <% get_display_cols(objects.first).map do |key, value| %>
        <% unless key.capitalize == parent.class.name%> 
        <th><%= key.to_s.humanize.capitalize %></th>
        <% end %>
      <% end %>
    <% end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% unless objects.blank? %>
      <% objects.each do |object| %> 
        <tr>          
          <%= render(
            partial:  "shared/cell",
            collection: get_display_cols(object).keys,
            locals: {:object=> object,:parent => parent }) %>              
            <td>
              <%= link_to 'E', edit_polymorphic_url([parent,object]) %>
              <%= link_to 'D', polymorphic_url([parent,object]), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
        </tr>
      <% end %>             
    <% else %>
      <tr><td colspan="<%= get_display_cols(objects).count%>">No <%= objects.class %> have been created for <%= parent.class %></td></tr>
    <% end %>
  </tbody>
</table>
<%end%>
