    <div class="row">
      <div class="small-12 columns">
        <%= javascript_tag do %>
var borrowers_ar = <%= j @borrowers_array.to_json %>
<% end%>

<h2>Investment Opportunities<%= " for #{@lender.title}" unless current_user.admin?%></h2>
<p>Listed below are the the available opportunities for investment.</p>

<%= form_tag "pages/agreement_confirmation" do %>

<table class="responsive"  style="border-spacing: 0">
  <thead>
    <tr>
      <th colspan="4">Deal</th>

      <% @borrowers.each do |borrower| %>
      <th colspan="3"  class="lborder"><%= borrower.title%></th>
      <% end %>
    </tr>
    <th>Collateral</th>
    <th>Term</th>
    <th>Marketing Materials</th>
    <th>Documents</th>

    <% @borrowers.each do |borrower| %>

    <th scope="column" class="lborder">Yield</th>
    <th scope="column">Target Allocation</th>
    <th scope="column">Borrower Allocation</th>
    <% end %>
  </thead>
  <tfoot>
    <tr class="summary">
      <th colspan="4">Targeted Yield & Exposure per Borrower</th>
      <% @borrowers.each do |borrower| %>
      <td class="lborder"><%= number_to_percentage(borrower.targets.pluck('sum(yield * amount_cents) / sum(amount_cents)').first, precision: 2) %></td>
      <td>$<%= number_to_human(borrower.targets.map(&:amount).sum, precision: 0)%></td>
      <td><input type="text" id="total_<%= borrower.id%>"  disabled/><span id="total_<%= borrower.id%>" /></td>
      <% end %>
    </tr>
  </tfoot>
  <tbody class="text-right">
    <% @deals.active.each do |deal| %>
    <tr>
      <td scope="row" class="text-left"><%= deal.collateral %></td>
      <td><%= "1 " unless deal.term == "overnight"%><%= deal.term.capitalize   %></td>
      <td scope="row" class="text-left"><%=link_to "Deal Summary",""%></td>
      <td scope="row" class="text-left"><%=link_to "Funding Agreement",""%></td>

      <% @borrowers.each do |borrower| %>
      <% if target = borrower.targets.find_by_deal_id(deal.id) %>
        <td class="lborder"><%= number_to_percentage(target.yield, precision: 2) %></td>
        <td>$<%= number_to_human(target.amount, precision: 0)%></td>
        <td><% unless current_user.admin?%> 
          <%= fields_for "agreement[#{borrower.id}][#{@agreements[target.id].id}]", @agreements[target.id] do |agreement|  %>
          <% if @agreements[target.id].status.nil? or @agreements[target.id].status == "selected"%>
            <%= agreement.text_field :amount,  { size: 38, class: "borrower" } %>
            <% else %>
              Previous Agreement:            
             <%= agreement.text_field :amount,  { size: 38, class: "borrower", :disabled => true } %>             
            <% end%> 
        <% end%> 
        <% end%> 
        </td>
      <% else%>
      <td colspan=3 class="grey lborder">Not Available</td>
      <% end%>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<% unless current_user.admin?%>
<div class="row">
  <div class=" small-8 columns">
    <ul class="pricing-table">
      <li class="title">
        Totals
      </li>
      <li class="bullet-item">
        Total Targeted Exposure $<strong id="totalSum"></strong>
      </li>
      <li class="bullet-item">
        Weighted Average Yield 0.00%
      </li>
      <li class="bullet-item">
        Weighted Average Term (days) 0
      </li>
      <li class="cta-button">
          <%= submit_tag("Confirm") %>
      </li>
    </ul>
  </div>
</div>
<% end%>
<% end%>

