<h1>Investment Opportunities</h1>

<table>
  <thead>
    <tr>
      <th rowspan="2" scope="column">View Marketing Materials</th>
      <th rowspan="2" scope="column">View Deal Documents</th>
      <th rowspan="2" scope="column">Collateral</th>
      <th rowspan="2" scope="column">Term</th>
      <% @borrowers.each do |borrower| %>
        <th colspan="3" scope="column"><%=borrower.title%></th>
      <% end %>
    </tr>
       <% @borrowers.each do |borrower| %>
        <th scope="column">Yield</th>
        <th scope="column">Target Allocation</th>      
        <th scope="column"></th>      
      <% end %>   
  </thead>
<tfoot>
  <th colspan="4">Targeted Yield & Exposure per Borrower</th>
        <% @borrowers.each do |borrower| %>
            <td><%=number_to_percentage(borrower.targets.sum(:yield), precision: 2) %></td>
            <td><%=number_to_currency(borrower.targets.map(&:amount).sum, precision: 0)%></td>  
            <td>[total]</td> 
        <% end %>
  
</tfoot>
  <tbody class="text-right">
   
      <% @deals.active.each do |deal| %>
        <tr>
          <td scope="row" class="text-left">[marketing]</td>
          <td scope="row" class="text-left">[docs]</td>
          <td scope="row" class="text-left"><%= deal.collateral %></td>
          <td><%= deal.term %></td>
          <% @borrowers.each do |borrower| %>
            <% if target = borrower.targets.find_by_deal_id(deal.id) %>
              <td><%=number_to_percentage(target.yield, precision: 2) %></td>
              <td><%=number_to_currency(target.amount, precision: 0)%></td>            
              <td><%= text_field_tag("#{deal.id}-#{borrower.id}-amount") %></td>
            <% else%>
              <td></td>    
              <td></td>    
              <td></td>    
            <% end%>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>