<h1>Active deals</h1>
<%= link_to 'New Deal', new_deal_path %>

<table>
  <thead>
    <tr>
      <th>Collateral</th>
      <th>Term</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.active.each do |deal| %>
      <tr>
        <td><%= deal.collateral %></td>
        <td><%= deal.term %></td>
        <td><%= "x" if deal.active==true %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<h1>Inactive deals</h1>

<table>
  <thead>
    <tr>
      <th>Collateral</th>
      <th>Term</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.inactive.each do |deal| %>
      <tr>
        <td><%= deal.collateral %></td>
        <td><%= deal.term %></td>
        <td><%= "x" if deal.active==true %></td>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
