<p id="notice"><%= notice %></p>

<p>
  <strong>Collateral:</strong>
  <%= @deal.collateral %>
</p>

<p>
  <strong>Term:</strong>
  <%= @deal.term %>
</p>
<p>
  <strong>Active:</strong>
  <%= @deal.active %>
</p>

<h3>Listing Targets<%= " for #{@borrower.title}" if @borrower%><%= " for #{@deal.title}" if @deal%></h3>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Yield</th>
      <% unless @borrower%>
      <th>Borrower</th>
      <% end %>
      <% unless @deal%>
      <th>Deal</th>
      <% end %>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deal.targets.each do |target| %>
      <tr>
        <td><%= target.amount %></td>
        <td><%= target.yield %></td>
        <% unless @borrower%>
        <td><%= target.borrower.title %></td>
        <% end %>
        <% unless @deal%>        
        <td><%= target.deal.title %></td>
        <% end %>              
        <td><%= link_to 'Show', target %></td>
        <td><%= link_to 'Edit', edit_target_path(target) %></td>
        <td><%= link_to 'Destroy', target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
