<p id="notice"><%= notice %></p>

<p>
  <strong>Collateral:</strong>
  <%= @deal.collateral %>
</p>

<p>
  <strong>Term:</strong>
  <%= @deal.term %>
</p>
<p>
  <strong>Active:</strong>
  <%= @deal.active %>
</p>


<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
