
<p>
  <strong>Collateral:</strong>
  <%= @deal.collateral %>
</p>

<p>
  <strong>Term:</strong>
  <%= @deal.term %>
</p>
<p>
  <strong>Status</strong>
  <%= @deal.status %>
</p>

<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>

<br />
<br />
<%= link_to 'Show Targets', deal_targets_path(@deal) %>
