<%= form_for(@signer) do |f| %>
  <% if @signer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signer.errors.count, "error") %> prohibited this signer from being saved:</h2>

      <ul>
      <% @signer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lender_id %><br>
    <%= f.text_field :lender_id %>
  </div>
  <div class="field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
