<h1>Listing signers</h1>

<table>
  <thead>
    <tr>
      <th>Lender</th>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signers.each do |signer| %>
      <tr>
        <td><%= signer.lender %></td>
        <td><%= signer.first %></td>
        <td><%= signer.last %></td>
        <td><%= signer.email %></td>
        <td><%= signer.active %></td>
        <td><%= link_to 'Show', signer %></td>
        <td><%= link_to 'Edit', edit_signer_path(signer) %></td>
        <td><%= link_to 'Destroy', signer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signer', new_lender_signer_path unless current_user.admin?%>
