<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- ----------------------------------------NAVIGATION-->

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="">SHAY ASSETS MANAGEMENT FINANCING</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Admin</a>
            <ul class="dropdown">
              <li>
                <%= link_to "Reports", '' %>
              </li>
              <li>
                <%= link_to "All Borrowers", borrowers_path %>
              </li>
              <li>
                <%= link_to "All Deals", deals_path%>
              </li>
              <li>
                <%= link_to "All Targets", targets_path%>
              </li>
            </ul>
          </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="active">
            <a href="opportunities">Investment Opportunities</a>
          </li>
          <li class="active">
            <a href="#">Finacing Agreements</a>
          </li>
          <li class="active">
            <a href="#">Authorized Signers</a>
          </li>
        </ul>
      </section>
    </nav>
    <!-- ----------------------------------------Breadcrumbs-->
    <ul class="breadcrumbs">
    <% if user_signed_in? %>
    <li>
        <a href="#" class="button small secondary split">Signed in as <%= current_user.email %> <span data-dropdown="drop"></span></a>
        <br>
        <ul id="drop" class="f-dropdown " data-dropdown-content>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
        </li>
    <% end %>
    <% if @breadcrumbs %>
      <% @breadcrumbs[0..-2].each do |txt, path| %>
      <li>
        <%= link_to(h(txt), path) %>
      </li>
      <% end %>
      <li>
        <%= h(@breadcrumbs.last.first) %>
      </li>
    <% end %>
      </ul>
  
    <div class="row">
        <div class="small-12 columns">      
        <%= content_tag(:div, flash[:alert] , class: "alert-box warning radius")if flash[:alert]%>
        <%= content_tag(:div, flash[:error] , class: "alert-box warning radius")if flash[:error]%>
        <%= content_tag(:div, flash[:notice] , class: "alert-box radius")if flash[:notice]%>
        </div>
    </div>    
    


    <!-- ----------------------------------------Content-->
    <div class="row">
      <div class="small-12 columns">

        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
